.ccterms {
  width: 100%;
  padding: 2rem;
  background-color: var(--color-black-300);
  border-radius: 10px;
  margin: 2rem 0;
}

@media only screen and (max-width: 570px) {
  .ccterms {
    padding: 1.5rem;
  }
}
