.terms {
  min-height: 100vh;
  width: 85%;
  display: flex;
  justify-content: center;
  margin: 0 auto;

  section {
    width: 100%;
    padding: 1rem;

    h2 {
      color: var(--color-blue-400);
      margin-bottom: 1rem;
      font-weight: bold;
    }

    ul {
      li {
        color: var(--color-white-400);
        margin-top: 12px;
        font-size: 1rem;
        font-weight: 500;
      }
    }
  }
}

@media only screen and (max-width: 570px) {
  .terms {
    section {
      width: 100%;
      padding: 0 1rem;

      ul {
        margin: 8px;
        li {
          margin-left: -10px;
        }
      }
    }
  }
}
