header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 12px;
  padding: 1rem;

  h1 {
    color: var(--color-white-400);
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
  }
  p {
    color: var(--color-white-400);
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
  }
}

@media only screen and (max-width: 570px) {
  header {
    h1 {
      font-size: 1.5rem;
    }
  }
}
