.mass-order {
  height: max-content;
  width: 95%;
  background-color: var(--color-black-300);
  border-radius: 10px;
  padding: 2rem 1.3rem 2.5rem;
  row-gap: 14px;
  display: flex;
  flex-direction: column;

  .label {
    color: var(--color-white-400);
    font-size: 1rem;
    font-weight: 500;
    margin-left: 3px;
  }

  .form-control {
    border-radius: 4px;
    background-color: var(--color-black-400);
    outline: none;
    border: none;
    color: var(--color-white-300);
    font-size: 1rem;
    font-weight: 400;
    width: 100%;
  }
}
