.vnav {
  width: 100%;
  background-color: var(--color-black-300);
  height: auto;
  padding: 0 0 1rem 0;

  ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5px;

    .li {
      color: var(--color-white-400);
      text-decoration: none;
      font-weight: 500;
      width: 100%;
      cursor: pointer;
      font-size: 1rem;
      padding: 8px 1rem;

      &:hover {
        color: var(--color-white-400);
        background-color: var(--color-black-400);
        border-radius: 8px;
      }
    }

    .lang-con {
      background-color: var(--color-black-400);
      padding: 0 14px 0 8px;
      border-radius: 3px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 95%;
      min-width: 150px;
      margin-top: 6px;
      margin-left: 8px;

      select {
        border: none;
        outline-style: none;
        background-color: transparent;
        border-radius: 0;
        margin: 0;
        display: block;
        width: 100%;
        cursor: pointer;
        padding: 5px 8px;
        font-size: 1rem;
        color: var(--color-white-400);
        font-weight: 400;

        option {
          color: var(--color-white-400);
          background-color: var(--color-black-300);
          border: none;
          outline-style: none;
          font-weight: 400;
        }
      }
    }
  }
}

@media only screen and (min-width: 1050px) {
  .vnav {
    display: none;
  }
}
