.home {
  min-height: 100vh;
  width: 100%;

  .landing {
    width: 85%;
    column-gap: 2.2rem;
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin: 0 auto;

    .left {
      margin-top: 3rem;
      width: 100%;
      height: 100%;
      padding: 2rem 1rem;

      h1 {
        color: var(--color-white-400);
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 1.3rem;
      }

      span {
        color: var(--color-blue-400);
        font-weight: bold;
        font-size: 4rem;
      }
      p {
        color: var(--color-white-400);
        font-size: 1.1rem;
        font-weight: 400;
        text-align: left;
      }
    }
    .right {
      height: 100%;
      margin-top: 3rem;
      width: 80%;
    }
  }
  .features {
    width: 100%;
    display: flex;
    flex-direction: column;

    .fcard {
      margin: 1rem auto;
      width: 85%;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
      gap: 1.5rem;
      padding: 2rem;
    }
  }
  .how {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 2.5rem;

    .hcard {
      margin: 1rem auto;
      width: 85%;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
      gap: 1.5rem;
      padding: 2rem;
    }
  }
  .social {
    width: 100%;
    display: flex;
    flex-direction: column;
    .cservices {
      margin: 1rem auto;
      width: 85%;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
      gap: 1.3rem;
      padding: 2rem;
    }
  }
  .t-cards {
    padding: 1rem;
    width: 100%;
    display: flex;
    gap: 1rem;
    margin-bottom: 3rem;
    justify-content: center;
    flex-direction: column;

    .mySwiper {
      width: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
    }
  }
  .frequently {
    width: 100%;
    display: flex;
    flex-direction: column;

    .qcard {
      margin: 0 auto;
      width: 65%;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      padding: 2rem;
    }
  }
}

@media only screen and (max-width: 950px) {
  .home {
    .landing {
      width: 100%;
      column-gap: 1rem;
      justify-content: none;
      align-items: center;
      flex-direction: column;

      .left {
        padding: 1rem;
        h1 {
        }

        span {
        }
        p {
        }
      }
      .right {
        width: 100%;
        padding: 0 1rem;
      }
    }
    .features {
      .fcard {
        gap: 1rem;
        width: 100%;
        padding: 1rem;
      }
    }
    .how {
      .hcard {
        width: 100%;
      }
    }
    .social {
      .cservices {
        padding: 1rem;
        width: 100%;
        gap: 14px;
      }
    }
    .t-cards {
      .mySwiper {
        width: 100%;
      }
    }
    .frequently {
      .qcard {
        padding: 1rem;
        gap: 1rem;
        width: 100%;
      }
    }
  }
}
