.ccservices {
  width: 100%;
  height: 18.125rem;
  background-color: var(--color-black-300);
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 8px;
  border-radius: 10px;

  .icon {
    height: 160px;
    width: 160px;
    object-fit: cover;
    margin-bottom: 1rem;
  }
  h4 {
    font-size: 1rem;
    color: var(--color-white-400);
    font-weight: bold;
  }
  span {
    color: var(--color-blue-400);
    font-size: 1rem;
    font-weight: 600;

    &:hover {
      color: orange;
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: 570px) {
  .ccservices {
    .icon {
      height: 110px;
      width: 110px;
      margin-bottom: 10px;
    }
  }
}
