.notes {
  .feature {
    li {
      list-style-type: none;
      margin-left: -1.2rem;
      font-size: 1rem;
      font-weight: 500;
    }
  }

  .warnings {
    li {
      list-style-type: none;
      margin-left: -1rem;
      font-size: 1rem;
      font-weight: 500;
    }
  }
}
