.ccardf {
  min-height: 16rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1.5rem;
  gap: 12px;
  border-radius: 10px;
  background: var(--color-black-300);

  .c-wrapper {
    width: 100%;
    height: 5rem;
    background: var(--color-black-400);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;

    .material-symbols-outlined {
      font-size: 3rem;
      color: var(--color-blue-400);
    }
  }
  .t2 {
    font-size: 1rem;
    font-weight: 600;
    color: white;
    margin-top: 1.3rem;
  }
  .des {
    color: #cecece;
    font-size: 16px;
    text-align: justify;
    hyphens: auto;
    -webkit-hyphens: auto;
    word-spacing: -0.05em;
  }
}

@media only screen and (max-width: 1010px) {
  .ccardf {
    min-height: 16rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1.5rem;
    gap: 12px;
    border-radius: 10px;
    background: var(--color-black-300);

    .t2 {
      font-size: 21px;
      font-weight: bold;
      color: white;
      margin-top: 1.5rem;
    }
    .des {
      color: #cecece;
      font-size: 16px;
      text-align: justify;
    }
  }
}
