footer {
  width: 100%;
  background-color: var(--color-black-300);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  margin-top: 2rem;

  span {
    color: var(--color-white-400);
    font-size: 1rem;
    font-weight: 600;
  }
}

@media only screen and (max-width: 570px) {
  footer {
    padding: 1rem;
    span {
      font-size: 12px;
    }
  }
}
