@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;500;600&display=swap");

:root {
  --color-black-100: #222d44;
  --color-black-200: #252839;
  --color-black-300: #1e202e;
  --color-black-400: #181a26;
  --color-gray-100: #2f313b;
  --color-blue-100: #456584;
  --color-blue-200: #5c88b1;
  --color-blue-300: #6ea3d4;
  --color-blue-400: #87c5ff;
  --color-white-100: #778694;
  --color-white-200: #93a4b5;
  --color-white-300: #a9bdcf;
  --color-white-400: #bdd3e7;
  --color-hover-400: #063970;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Chakra Petch", sans-serif, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  scroll-behavior: smooth;
}

.app {
  min-height: 100vh;
  width: 100%;
  background-color: var(--color-black-400);
  overflow: hidden;
}
