.list-order {
  width: 95%;
  min-height: 100vh;
  row-gap: 1rem;
  display: flex;
  flex-direction: column;

  .list-wrap {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: var(--color-black-300);
    border-radius: 3px;
    ul {
      display: flex;
      flex-direction: row;
      column-gap: 1.2rem;
      width: 100%;
      align-items: center;
      padding-top: 10px;

      li {
        list-style-type: none;
        font-size: 1rem;
        font-weight: 400;
        color: var(--color-blue-400);
        cursor: pointer;
        padding: 6px 10px;

        &:hover {
          color: var(--color-white-400);
          background-color: var(--color-black-200);
          border-radius: 5px;
        }
      }
    }

    .lsearch {
      width: 30%;
    }
  }

  .table {
    padding: 12px;
    table-layout: fixed;
    border-radius: 8px;
    overflow: hidden;
    thead {
      background-color: var(--color-black-200);
      tr {
        th {
          color: var(--color-white-400);
          font-weight: 600;
          color: 1rem;
          padding: 8px 12px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
    tbody {
      background-color: var(--color-black-300);
      tr {
        td {
          padding: 12px;
          color: var(--color-white-400);
          font-weight: 400;
          color: 1rem;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }
}
