.label {
  color: var(--color-white-400);
  font-size: 1rem;
  font-weight: 500;
  margin-left: 3px;
}

.input {
  padding: 12px;
  border-radius: 4px;
  background-color: var(--color-black-400);
  outline: none;
  border: none;
  color: var(--color-white-300);
  font-size: 1rem;
  font-weight: 400;
  width: 100%;
}
