.frequently {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 3rem 0 0;

  .qcard {
    margin: 0 auto;
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem;
  }
}

@media only screen and (max-width: 750px) {
  .frequently {
    padding: 1rem;
    .qcard {
      padding: 1rem;
      gap: 1rem;
      width: 100%;
    }
  }
}
